body {
    background-image: url("../images/tumblr_inline_mkjq2yVPCa1qz4rgp.png");
    background-repeat: repeat;
    margin: 0px;
}

#logo {
    width: 600px;

}

h1 {
    font-family: 'Acme', sans-serif;
    color: white;
}

#container {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: block;
    overflow: auto;
    background-color: black;
    text-align: center;
    font-family: 'Acme', sans-serif;

}
